[run]
source =
    src/core/src
    src/extension/src
parallel = True
concurrency = multiprocessing
relative_files = True

[paths]
source =
    src/
    */site-packages/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
omit =
    */tests/*
    */test_*.py